@import "../../scss/style.scss";

.header {
  position: relative;
  min-height: 94px;
  padding: 0 46px;
  box-shadow: 0 4px 4px 0 rgba($black, 0.25);

  @include media-breakpoint-down(sm) {
    min-height: 90px;
    padding: 0 32px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__logo-img {
  width: 78px;
}

.header__logo-text {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  color: $purple-primary;
  margin-top: 3px;
}

.header__language {
  margin-left: auto;
  position: relative;
}

.header__language-list {
  position: absolute;
  top: 63px;
  right: 0;
  border: 1px solid $purple-primary;
  border-radius: 4px;
  box-shadow: 0 8px 8px 0 rgba($white-2, 0.25);
  z-index: 2;
  width: 212px;
  background-color: $white;
  padding: 5px;
}

.header__language-item {
  padding: 12px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.header__language-item:hover, .header__language-item--active {
  background-color: $purple-hover;
  color: $white;
}

.header__language-flag {
  margin-right: 10px;
}

.header__language-item:hover .header__language-btn,
.header__language-item--active .header__language-btn {
  color: $white;
}

.header__nav {
  position: relative;
}

.header__nav-list {
  display: flex;
  margin-left: 40px;

  @include media-breakpoint-down(lg) {
    display: none;
    position: absolute;
    top: 62px;
    right: 0;
    border: 1px solid $purple-primary;
    border-radius: 4px;
    box-shadow: 0 8px 8px 0 rgba($white-2, 0.25);
    z-index: 2;
    width: 212px;
    background-color: $white;
  }
}

.header__nav-list--active {
  @include media-breakpoint-down(lg) {
    display: block;
  }
}

.header__nav-item {
  margin: 0 3px;
  cursor: pointer;
  @include media-breakpoint-down(lg) {
    margin: 2px;
  }
}

.header__nav-item--active, .header__nav-item:active, .header__nav-item:hover {
  background-color: $purple-hover;

  .header__nav-link-text {
    color: $white;
  }
}

.header__nav-link {
  display: flex;
  align-items: center;
  font-family: $font-default;
  padding: 10px 40px;
}

.header__nav-icon {
  width: 20px;
  @include media-breakpoint-up(md) {
    display: none;
  }
  @include media-breakpoint-down(md) {
    display: block;
  }
}

.header__hamburger-btn {
  @include media-breakpoint-up(lg) {
    display: none;
  }
  @include media-breakpoint-down(lg) {
    display: block;
    margin-left: 36px;
  }
}

.header__nav-link-text {
  font-size: 20px;
  font-weight: 600;
  color: $purple-primary;
  @include media-breakpoint-down(md) {
    margin-left: 10px;
  }
}
