@import "./../../scss/components/form-page";

.error-message {
  color: red;
}

.login-form__link {
  display: block;
  text-align: center;
  font-family: $secondary-font;
  color: $purple-primary;
  text-decoration: underline;
  margin: 10px 0;
}
