@import '../../scss/style.scss';

.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  min-height: 500px;
}

.welcome-sentence,
.login-form {
  width: 100%;

  @include media-breakpoint-down(sm) {
    padding: 0 20px;
  }
}

.login-form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.login-form__button {
  background-color: $purple-primary;
  color: white;
  padding: 14px 50px 7px 50px;
  font-size: 16px;
  width: fit-content;
  margin: 10px auto;
  border-radius: 4px;
}

.error-message {
  color: red;
}

.login-form__link {
  display: block;
  text-align: center;
  font-family: $secondary-font;
  color: $purple-primary;
  text-decoration: underline;
  margin: 10px 0;
}
