// ----------  layout
// ------------------------------------------------------------------------------

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: $font-default;
  font-size: 14px;
  font-weight: 400;
  color: $black;
}

.hidden {
  display: none;
}

.form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-field__value::placeholder,
.form-field__value.form-field__value--placeholder {
  color: darkgrey;
  font-family: $secondary-font;
}

$field-height: 40px;

.form-field__value, .form-field__option {
  display: flex;
  align-items: center;
  height: $field-height;
  padding: 4px 10px;
  cursor: pointer;
  font-size: 100%;
  color: inherit;
  font-family: $secondary-font;
}

.form-field__error-container {
  min-height: 20px;
}

.form-field--error .form-field__value {
  border-color: red;
  background-color: #ffdfdf;
  font-family: $secondary-font;
}

.form-field__error {
  color: red;
  font-family: $secondary-font;
}

.button {
  background-color: $purple-primary;
  color: white;
  padding: 14px 50px 7px;
  font-size: 16px;
  width: fit-content;
  margin: 10px auto;
  border-radius: 4px;
}

.button:hover {
  background-color: $purple-hover;
}

.button--big {
  font-size: 22px;
  padding: 18px 50px 10px;
}

.button--yellow {
  background-color: $yellow-primary;
}

.button--yellow:hover {
  background-color: $yellow-hover;
}
