// ----------  layout
// ------------------------------------------------------------------------------

body {
	font-family: $font-default;
	font-size: 14px;
	font-weight: 400;
	color: $black;
}

.hidden {
	display: none;
}