.breadcrumbs-nav {
    display: flex;
}

.breadcrumbs {
    width: 100%;
}

.language-selector {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 100%;
}

.language-selector__button {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: 1px solid #4CAF50;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.language-selector__option-list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 100;
    width: 100%;
}

.language-option__option.language-option__option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.language-option__option:hover {
    background-color: #bbbbbb
}

.language-selector:hover .language-selector__option-list {
    display: block;
}

.language-selector:hover .language-selector__button {
    background-color: #3e8e41;
    border-color: #3e8e41;
}
