@import "../../scss/components/form-page";

.welcome-sentence {
  margin-bottom: 25px;
}

.welcome-sentence,
.account-type-selector-wrapper {
  width: 100%;
  max-width: 500px;
  @include media-breakpoint-down(sm) {
    padding: 0 20px;
  }
}

.form-page__form .form-submit-button {
  margin-top: 25px;
}
