@import "./../../scss/style.scss";

.job-offer {
  border: 1px solid black;
  border-radius: 8px;
  width: 450px;
  height: 100%;
  margin: auto;
  padding: 55px 35px;
  cursor: pointer;
  position: relative;

  @include media-breakpoint-down(sm) {
    width: 90%;
    max-width: 450px;
  }
}

.job-offer__flag {
  padding: 12px 20px 6px;
  width: fit-content;
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 18px;
}

.job-offer__row {
  padding: 5px 0;
  font-size: 18px;
}

.job-offer__name {
  font-weight: 900;
  font-size: 22px;
}

.job-offer__value {
  margin-left: 4px;
  font-size: 18px;
}

.job-offer__engagement-value {
  color: $purple-primary;
  font-weight: bold;
  font-size: 18px;
}

.job-offer__application-deadline {
  color: $gray-4;
}
