{% extends "admin/base_site.html" %}

{% load static i18n %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/base_site.css' %}">
{% endblock %}

{% block nav-breadcrumbs %}
  <!-- START: copied from django/contrib/admin/templates/admin/base.html -->
  <nav class="breadcrumbs-nav" aria-label="{% translate 'Breadcrumbs' %}">
    {% block breadcrumbs %}
      <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        {% if title %} &rsaquo; {{ title }}{% endif %}
      </div>
    {% endblock %}
    <!-- start: custom language selector -->
    <div class="language-selector">
      <button class="language-selector__button">
        {{ LANGUAGE_CODE|language_name_local }}
      </button>
      <div class="language-selector__option-list">
        {% for translated_url in translated_urls %}
          <a class="language-option__option" href="{{ translated_url.url }}">
            {{ translated_url.lang_label }}
          </a>
        {% endfor %}
      </div>
    </div>
    <!-- end: custom language selector -->
  </nav>
  <!-- END: copied from django/contrib/admin/templates/admin/base.html -->
{% endblock nav-breadcrumbs %}
