{% extends "admin/base_site.html" %}

{% load static i18n %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/base_site.css' %}">
{% endblock %}

{% block header %}
  {{ block.super }}
  <!-- start: custom language selector -->
  <div class="language-bar">
    <button class="language-bar__button">
      {{ LANGUAGE_CODE|language_name_local }}
    </button>
    <div class="language-bar__option-list">
      {% for translated_url in translated_urls %}
        <a class="language-option__option" href="{{ translated_url.url }}">
          {{ translated_url.lang_label }}
        </a>
      {% endfor %}
    </div>
  </div>
  <!-- end: custom language selector -->
{% endblock %}
