@import "../style";

.page {
  max-width: 1400px;
  margin: 0 auto;

  @include media-breakpoint-up(xl) {
    padding: 50px 100px;
  }
  @include media-breakpoint-between(md, lg) {
    padding: 50px 70px;
  }
  @include media-breakpoint-down(sm) {
    padding: 50px 20px;
  }
}

.page__action-buttons {
  margin-top: 40px;
  @include media-breakpoint-down(sm) {
    display: flex;
    justify-content: center;
  }
}

.page__button {
  padding: 10px 26px;
  background-color: $purple-primary;
  color: $white;
  font-size: 16px;
  margin-right: 15px;
}

.page__button:hover {
  background-color: $purple-hover;

}

.page__button--secondary {
  background-color: $yellow-primary;
}

.page__button--secondary:hover {
  background-color: $yellow-hover;
}
