@import "./../style";

$wrapper-max-widths: 1600px;

.job-offers-title {
  margin: 50px 40px 10px;
  color: $purple-primary;

  @include media-breakpoint-down(sm) {
    width: 90%;
  }
}

.job-offers {
  display: grid;
  gap: 40px;
  grid-template-columns: auto auto auto;
  width: fit-content;
  max-width: $wrapper-max-widths;
  margin: 0 auto 50px auto;

  @media only screen and (max-width: 1500px) {
    grid-template-columns: auto auto;
  }

  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.job-offers-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 50px 0;
}

.load-more-button {
  background-color: #E99E41;
  color: white;
  padding: 10px 50px 10px;
  border-radius: 4px;
  font-size: 22px;
}
